{% extends "mpod_base.html" %}

{% block title %}MPOD - Material Properties Open Database{% endblock %}

{% block header %}  
<header>
<a href="/"><img src="/images/mpod-logo.png" alt="MPOD"></a>
<h1>Material Properties Open Database</h1>
</header>
{% endblock %}
AAA
{% block nav_menu %}
  {{nav_menu}}
{% endblock %}
BBB
{% block top_menu %} 
  {{top_menu}}
{% endblock %}
CCC
{% block container %}  

<div class="container">
<p>
The MPOD ....


</p>
</div>
{% endblock %}

{% block debugg_text %}
{% endblock %}

{% block footer %} 
{% include "mpod_footer_1.html" %}

{% endblock %}



