{% extends "mpod_base_text.html" %}

{% block title %}MPOD - Credits {% endblock %}

{% block container %}
<div class="container">
<p>
The Material Properties Open Database was initiated by Daniel Chateigner in July 2010.<br />
Most of the development has been carried out by <br />
Daniel Chateigner<br />
Giancarlo Pepponi<br />
</p><p>
Daniel is professor at the 
Physics Measurements Department, Technological Institute 
<a href="http://iut-caen.unicaen.fr/" target="_blank" name="IUT_home">(IUT)</a>, <br />
<a href="http://www.unicaen.fr/" target="_blank" name="unicaen_home">University of Caen Basse-Normandie</a><br />
and research scientist at the 
Laboratoire de Cristallographie et Sciences des Matériaux 
<a href="http://www-crismat.ensicaen.fr/" target="_blank" name="crismat_home">(CRISMAT)</a>,<br />
Ecole Nationale Supérieure d'Ingénieurs de Caen 
<a href="http://www.ensicaen.fr/" target="_blank" name="ensicaen_home">(ENSICAEN)</a>.<br />
For more information you can visit his 
<a href="http://www.ecole.ensicaen.fr/~chateign/danielc/" target="_blank" name="daniel_homepage">homepage</a>.
</p><p>
Giancarlo is a research scientist at 
<a href="http://www.fbk.eu" target="_blank" name="fbk">Fondazione Bruno Kessler</a>.<br />
He works in the MiNALab Unit of the 
<a href="http://cmm.fbk.eu/" target="_blank" name="cmm_fbk_home">Centre for Materials and Microsystems</a>.
</p><p>
<font size="-1">
<strong>Acknowledgement.</strong><br />
This work was partially carried out within the Xmat project 
(“Combination of X-Ray diffraction and X-Ray Fluorescence techniques in material science”), 
supported by the 
<a href="http://www.provincia.tn.it/" target="_blank" name="pat_home">Provincia Autonoma di Trento</a> 
and the European Union in the framework of the 
<a href="http://www.uniricerca.provincia.tn.it/bandi_ricerca/-Bandi_COFUND/082-10214.html" target="_blank" name="cofund">Marie Curie COFUND program</a> 
- <a href="http://www.uniricerca.provincia.tn.it/bandi_ricerca/-bandi_cofund_2009/pagina18.html" target="_blank" name="call_4">Call for proposals 4</a> 
- researcher 2009 – Outgoing.
</font>
</p>

{% endblock %}