<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
{% block css-file %} <link rel=stylesheet type="text/css" href="/css/mpod_css_1.css" > {% endblock %}

<title>{% block title %} {% endblock %}</title>

{% block meta %}  {% include "mpod_meta_1.html" %} {% endblock %}

</head>

<body>
{% block header %} {% endblock %}
{% block hor_menu %} {% endblock %}
{% block ver_menu %} {% endblock %}
{% block central_column %}  {% endblock %}
{% block right_column %}  {% endblock %}
{% block debugg_text %}  {% endblock %}
{% block footer %}  {% endblock %}
</body>
</html>