{% extends "mpod_base.html" %}

{% block title %}MPOD - Material Properties Open Database{% endblock %}

{% block header %}  
<div class="header" align="right">
<h1>Material Properties <br />Open Database</h1><br />
</div>
{% endblock %}

{% block hor_menu %} 
{{horizontal_menu}}
{% endblock %}

{% block ver_menu %}
{{vertical_menu}}
{% endblock %}

{% block central_column %}  

<div class="central_column">
<p>
The MPOD ....


</p>
</div>
{% endblock %}

{% block debugg_text %}
{% endblock %}

{% block footer %} 
{% include "mpod_footer_1.html" %}

{% endblock %}



