{% extends "mpod_base_text.html" %}

{% block title %}MPOD - Credits {% endblock %}

{% block central_column %}
<div class="central_column">
<p>
The Material Properties Open Database was initiated by Daniel Chateigner in July 2010.<br />
Most of the development has been carried out by <br /><br />
<b>Daniel Chateigner</b><br />
<b>Giancarlo Pepponi</b><br />
</p><p>

<table>
<tr>
<td style="font-size: 1em; line-height:2em; font-weight: normal;">
<b><a href="http://www.ecole.ensicaen.fr/~chateign/danielc/" target="_blank" name="daniel_homepage">Daniel</a></b> 
is professor at the
</td>
</tr>
<tr>
<td style="font-size: 1em; line-height:2em; font-weight: normal;">
Physics Measurements Department, <br /> 
<a href="http://iut-caen.unicaen.fr/" target="_blank" name="IUT_home">
Technological Institute (IUT)</a>,<br /> 
<a href="http://www.unicaen.fr/" target="_blank" name="unicaen_home">University of Caen Basse-Normandie</a>
</td>
<td  align="right" valign="middle">
<a href="http://iut-caen.unicaen.fr/" target="_blank" name="IUT_home">
<img src="/images/logo_iutcaen.png" border="0" alt="logo_iutcaen" align="middle">
</a>
</td>
<td align="right" valign="middle">
<a href="http://www.unicaen.fr/" target="_blank" name="unicaen_home">
<img src="/images/logo_ucbn.png" border="0" alt="logo_unicaen" align="middle">
</a>
</td>
</tr>
<tr>
<td style="font-size: 1em; line-height:2em; font-weight: normal;">
and research scientist at the 
</td>
</tr>
<tr>
<td style="font-size: 1em; line-height:2em; font-weight: normal;">
<a href="http://www-crismat.ensicaen.fr/" target="_blank" name="crismat_home">
Laboratoire de Cristallographie et Sciences des Matériaux(CRISMAT)</a>,<br />
<a href="http://www.ensicaen.fr/" target="_blank" name="ensicaen_home">
Ecole Nationale Supérieure d'Ingénieurs de Caen (ENSICAEN)</a>
</td>
<td align="right" valign="middle">
<a href="http://www-crismat.ensicaen.fr/" target="_blank" name="crismat_home">
<img src="/images/logo_crismat.png" border="0" alt="logo_crismat" align="middle">
</a>
</td>
<td align="right" valign="middle">
<a href="http://www.ensicaen.fr/" target="_blank" name="ensicaen_home">
<img src="/images/logo_ensicaen.png" border="0" alt="logo_ensicaen" align="middle">
</a>
</td>
</tr>
<tr>
<td style="font-size: 1em; line-height:2em; font-weight: normal;">
<br /><b>Giancarlo</b> is a research scientist at 
</td>
</tr>
<tr>
<td style="font-size: 1em; line-height:2em; font-weight: normal;">
<a href="http://www.fbk.eu" target="_blank" name="fbk">Fondazione Bruno Kessler</a>,<br />
and works in the MiNALab Unit<br /> 
of the 
<a href="http://cmm.fbk.eu/" target="_blank" name="cmm_fbk_home">Centre for Materials and Microsystems</a>.
</td>
<td></td>
<td align="right" valign="middle">
<a href="http://www.fbk.eu" target="_blank" name="fbk">
<img src="/images/fbk_logo.jpg" border="0" alt="fbk_logo_small" align="middle">
</a>
</td>
</tr>
</table>
</p><p>
<font size="-1">
<br />
<strong>Acknowledgement.</strong><br />
This work was partially carried out within the Xmat project 
(“Combination of X-Ray diffraction and X-Ray Fluorescence techniques in material science”), 
supported by the 
<a href="http://www.provincia.tn.it/" target="_blank" name="pat_home">Provincia Autonoma di Trento</a> 
and the European Union in the framework of the 
<a href="http://www.uniricerca.provincia.tn.it/bandi_ricerca/-Bandi_COFUND/082-10214.html" target="_blank" name="cofund">Marie Curie COFUND program</a> 
- <a href="http://www.uniricerca.provincia.tn.it/bandi_ricerca/-bandi_cofund_2009/pagina18.html" target="_blank" name="call_4">Call for proposals 4</a> 
- researcher 2009 – Outgoing.
</font>
</p>

{% endblock %}