{% extends "mpod_base_text.html" %}

{% block title %}MPOD - Material Property Open Database{% endblock %}

{% block container %}
<div class="container">
<p>
<h3>General references about tensorial material properties</h3>
(listed in alphabetical order)
</p>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%"
	>Authier A. (2003). International Tables for Crystallography, &quot;<I>Physical
	Properties of Crystals</I>&quot;, Volume D, Published for IUCr,
	Kluwer Academic Publishers, 522 pages</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%">Birss
	R.R. (1964). <I>&quot;Symmetry and Magnetism&quot;</I>, North
	Holland, Amsterdam.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%">Chateigner
	D. (2010). <I>&quot;Combined analysis&quot;</I>, Wiley-ISTE, 496
	pages</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%">Hirao,
	M., Ogi H. (2003). &quot;<I>EMATs for Science and Industry</I>&quot;,
	Kluwer, Boston.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%">Kocks
	U.F., Tomé C.N., Wenk H.-R. (1998). &quot;<I>Texture and
	Anisotropy</I>&quot;, Cambridge University Press, 676 pages</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%">Koptsik
	V.A. (1966). <I>&quot;Shubnikov 	groups&quot;</I>, Izd. MGU Pub., Moscow.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%">Landau
	L.D., Lifshitz E.M. (1967). &quot;<I>Theory of Elasticity</I>&quot;.
	Mir, Moscow. 207 pages</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%">Migliori
	A., Sarro J. (1997). &quot;<I>Resonant Ultrasound Spectroscopy</I>&quot;,
	Wiley-Interscience, New-York</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%">Nye
	J.-F. (1985), &quot;<I>Physical Properties of Crystals: their
	representation by tensors and matrices</I>&quot;, Lavoisier
	publishers, 330 pages</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 150%">Sirotine
	A., Chaskolskaia M. (1984). <I>&quot;Fondements de la physique des
	cristaux&quot;</I>, MIR Publishers, Moscow. 695 pages</P>
</UL>
</div>
{% endblock %}
