{% if header %}
   {{header|safe}}
{% endif %}
<div class="module" id="changelist">
<table>
<th>
<tr> {% for hor_header in hor_headers_list %}<th> {{hor_header}} </th> {% endfor %} </tr>
</th>
<tbody>
{% for riga in data_matrix %}
<tr class="{% cycle 'row1' 'row2' %}">{%for ele in riga%}
														{% if not ele.1 %}
															<td>{{ele.0}}</td>
														{% else %}
														   <td><a href = "{{ele.1}}" >{{ele.0}}</a></td>
														{% endif %}
													{% endfor %}</tr>
{% endfor %}													
</tbody>
</table>
{% if footer %}
   {{footer|safe}}
{% endif %}
<br />
