{% extends "mpod_base_text.html" %}

{% block title %}Material Property Reference Articles Search{% if query %} Results{% endif %}{% endblock %}

{% block container %}  

<div class="container">
<h2>Reference articles to datafiles</h2>
  <h2>Input search parameters</h2>
  <form action="/data/references/" method="GET">
    <label for="title">Title: </label>
    <input type="text" name="title" value="{{ query_title|escape }}">
    <br />
    <label for="author">Authors: </label>
    <input type="text" name="author" value="{{ query_author|escape }}">
     <br />
    <label for="journal">Journal:</label>
    <input type="text" name="journal" value="{{ query_journal|escape }}">
    <input type="submit" value="Submit">
    <br />
  </form>
  <br />
  {% if results %}
    <h2>Search Results:</h2>
		{{results|escape}}
  {% else %}
      {% if query_title or query_author or query_journal %}
      <h2>Sorry, no datafiles found</h2>
      {% endif %}
  {% endif %}
  

</div>
{% endblock %}

{% block footer %} 
{% include "mpod_footer_1.html" %}

{% endblock %}