{% extends "mpod_base_text.html" %}

{% block container %}
<div class="container">
Please send us the mpod file with the data and also a pdf file of the article where the data was published so that the correctness of the data can be verified.<br />
Please also enter an email address where you can be contacted in case there are questions about the data you provided.<br />
<br />
<font size="-1">* fields required</font>
<br />

<form  enctype="multipart/form-data" action="." method="POST">
<br />
    {% for field in form %}
        <div class="fieldWrapper">
       <p> {% if field.errors %}
            {{ field.errors }}
           <b> !{{ field.label_tag }}</b>: {{ field }} 
        {% else %}
        {% if field.field.required %}<span class="special_class">*</span>{% endif %}

            {{ field.label_tag }}: {{ field }} 
            {% endif %} </p>
        </div>
    {% endfor %}

<input type="hidden" id="time_stamp" name="time_stamp" value={{time_stamp}} />
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}